body {
    background-color: #f0f8ff; /* Azul muy claro */
    font-family: Arial, sans-serif;
}

div {
    background-color: #ffffff; /* Blanco */
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}


h1 {
    color: #0077cc; /* Azul */
}


input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button {
    background-color: #0077cc;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}


ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    background-color: #e6f2ff;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 5px;
}
