header{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
}

section{
    margin: 15px;
    padding: 10px;
    border: 1px solid #ddd;
}

h1{
    position: static;
    top: 0;
    left: 0;
    font-size: 24px;
}

h2{
    font-size: 20px;
    color: #333;
}
div{
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: aqua;
}

h2{
    background-color: lightblue;
    padding: 10px;
    border-radius: 4px;
    text-align: center;

}